@font-face {
    font-family: 'Kanit';
    font-weight: 400;
    src: url('./fonty/kanit/Kanit-Regular.ttf')  format('truetype'), 
}
@font-face {
    font-family: 'Kanit';
    font-weight: 700;
    src: url('./fonty/kanit/Kanit-Bold.ttf')  format('truetype'), 
}

:root
 {
    --bs-body-font-family: 'Kanit', sans-serif;
} 

.heading-1 {
    font-size: 120px;
    color: white;
}

.heading-2 {
    font-size: 80px;
}

.heading-3 {
    font-size: 50px;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 700;
}

.nav-link {
    font-size: 20px;
    font-weight: 700;
}

.paragraph {
    font-size: 25px;
}

.add-img {
    margin-left: 100px;
    margin-bottom: 0;
}

.btn-link {
    margin-top: -250px;
    text-decoration: none;
}

.button-link {
    margin-left: 850px;
    font-size: 45px;
    color: #1b181b;
    text-decoration: none;
}

.btn-img {
    margin-top: -80px;
    margin-left: 600px;
}

.title {
    text-decoration: underline;
    color: #935FEA;
    text-transform: uppercase;
}

.banner .container {
    height: 660px;
}

.link-space {
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    background-position: 0px +0px;
    background-size: 339px 130px;
    height: 400px;
}

.custom-btn {
    font-size: 80px;
    text-decoration:none;
    color: #1b181b;
    text-transform: uppercase;
}

.custom-btn:hover {
    color: #DCB93D;
    transition-duration: 0.3s;
}

.info {
    margin-bottom: 150px;
}

/* Galerie */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
  
    margin-bottom: 15px;
    transition: 0.5s ease;
  }
  
  .gallery img:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(1.1);
    transition: 0.5s ease;
  
  }
  
  @media screen and (min-width: 600px) {
    .gallery img {
      width: 48%;
    }
  }
  
  @media screen and (min-width: 768px) {
    .gallery img {
      width: 30%;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .gallery img {
      width: 23%;
    }
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}

/* Close button styles */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}


  /*footer kontacts*/
  
footer {
    height: auto;
    width: 100;
    color: white;
    padding-top: 40px;
    background-color: #935FEA;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .footer-content h1 {
    letter-spacing: 0.2em;
    font-variant: all-small-caps;
    line-height: 3rem;
    font-weight: 400;
  }
  
  .footer-content p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  
  }
  
  .socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    margin-right: 60px;
  
  }
  
  .socials li {
    margin: 0 10px;
  
  }

  .socials a {
    text-decoration: none;
    color: white;
  }
  
  .socials a i {
    font-size: 30px;
    transition: color .4s ease;
    margin: 10px;
  }

  .socials-contacts {
    list-style: none;
    display: flex;   
    margin-right: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .socials-contacts li {
    margin: 0 10px;
  
  }

  .socials-contacts a {
    text-decoration: none;
    color: #1b181b;
  }
  
  .socials-contacts a:hover {
    text-decoration: none;
    color: #935FEA;
    transition-duration: 0.3s;
  }

  .socials-contacts a i {
    font-size: 60px;
    transition: color .4s ease;
    margin: 60px;
  }

  /* Additional styles for spacing and responsiveness */
  .cards {
    margin: 0 -15px; /* Adjust for Bootstrap container padding */
    margin-top: 80px;
}

.card {
    width: 100%; /* Set a specific width or use a percentage */
    height: 650px;
    margin-bottom: 15px;
}

.card-member {
    width: 100%; /* Set a specific width or use a percentage */
    height: 450px;
    margin-bottom: 15px;
}


/* Override Bootstrap grid classes for custom configurations */
@media (max-width: 576px) {
    .cards .col {
        flex: 0 0 100%; /* 1 card in a row on mobile */
    }

    .heading-1 {
        font-size: 60px;
        color: #1b181b;
    }
}

@media (min-width: 576px) {
    .cards .col-sm-1 {
        flex: 0 0 100%; /* 1 card in a row on small devices */
    }

    .heading-1 {
        font-size: 80px;
        color: #1b181b;
    }
}

@media (min-width: 768px) {
    .cards .col-md-4 {
        flex: 0 0 50%; /* 2 cards in a row on medium devices */
    }

    .heading-1 {
        font-size: 100px;
        color: #1b181b;
    }
}

@media (min-width: 1400px) {
    .cards .col-lg-3 {
        flex: 0 0 33.333333%; /* 3 cards in a row on large devices */
    }
}

@media (min-width: 1600px) {
    
    .heading-1 {
        color: white;
    }
}