@font-face {
    font-family: 'Kanit';
    font-weight: 400;
    src: url('./fonty/kanit/Kanit-Regular.ttf')  format('truetype'), 
}
@font-face {
    font-family: 'Kanit';
    font-weight: 700;
    src: url('./fonty/kanit/Kanit-Bold.ttf')  format('truetype'), 
}

:root
 {
    --bs-body-font-family: 'Kanit', sans-serif;
} 

.fs-1 {
    font-size: 120px !important;
}

.heading-1 {
    font-size: 120px;
}

.fs-2 {
    font-size: 80px !important;
}

.fs-3 {
    font-size: 50px !important;
}

.btn-primary {
    background-color: #935FEA;
    border-color: #935FEA;
}

.navbar-brand {
    font-size: 30px;
}

.nav-link {
    font-size: 20px;
}

.paragraph {
    font-size: 25px;
}

.add-img {
    margin-left: 100px;
    margin-bottom: 0;
}

.btn-link {
    margin-top: -250px;
    text-decoration: none;
}

.button-link {
    margin-left: 850px;
    font-size: 45px;
    color: #1b181b;
    text-decoration: none;
}

.btn-img {
    margin-top: -80px;
    margin-left: 600px;
}

.footer-part {
    margin-top: 250px;
}

.title {
    text-decoration: underline;
    color: #935FEA;
    text-transform: uppercase;
}

.banner .container {
    height: 660px;
}

.link-space {
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    background-position: 0px +0px;
    background-size: 339px 130px;
    height: 400px;
}

.custom-btn {
    background-image: url(img/circles.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    padding: 160px 180px;
    font-size: 20px;
}

.cards {
    margin-top: 30px;
}

.card {
    height: 580px;
}

.custom-btn-youtube {
    background-image: url(img/youtube.png);
    background-repeat: no-repeat;
    background-position: 0px +0px;
    background-size: 80px 80px;
    height: 80px;
    width: 80px;
}

.custom-btn-inst {
    background-image: url(img/instagram.png);
    background-repeat: no-repeat;
    background-position: 0px +0px;
    background-size: 80px 80px;
    height: 80px;
    width: 80px;
}


.gallery{
    position:relative;
    width:300px;
    height:200px;
    transform-style:preserve-3d;
    animation:rotate 35s linear infinite;
  }
  
  @keyframes rotate{
    from{
      transform:perspective(1200px) rotateY(0deg);
    }
    
    to{
      transform:perspective(1200px) rotateY(360deg);
    }
  }
  
  .gallery span{
    position:absolute;
    width:100%;
    height:100%;
    transform-origin:center;
    transform-style:preserve-3d;
    transform:rotateY(calc(var(--i) * 45deg)) translateZ(380px);
  }
  
  .gallery span img{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
  }