@font-face {
    font-family: 'Kanit';
    font-weight: 400;
    src: url('./fonty/kanit/Kanit-Regular.ttf')  format('truetype'), 
}
@font-face {
    font-family: 'Kanit';
    font-weight: 700;
    src: url('./fonty/kanit/Kanit-Bold.ttf')  format('truetype'), 
}

:root
 {
    --bs-body-font-family: 'Kanit', sans-serif;
} 

.fs-1 {
    font-size: 120px !important;
}

.heading-1 {
    font-size: 120px;
}

.fs-2 {
    font-size: 80px !important;
}

.btn-primary {
    background-color: #935FEA;
    border-color: #935FEA;
}

.navbar-brand {
    font-size: 30px;
}

.nav-link {
    font-size: 20px;
}

.paragraph {
    font-size: 25px;
}

.add-img {
    margin-left: 100px;
    margin-bottom: 0;
}

.btn-link {
    margin-top: -250px;
    text-decoration: none;
}

.button-link {
    margin-left: 850px;
    font-size: 45px;
    color: #1b181b;
    text-decoration: none;
}

.btn-img {
    margin-top: -80px;
    margin-left: 600px;
}

.footer-part {
    margin-top: 250px;
}

.title {
    text-decoration: underline;
    color: #935FEA;
    text-transform: uppercase;
}

.banner .container {
    height: 660px;
}

.link-space {
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    background-position: 0px +0px;
    background-size: 339px 148px;
    height: 400px;
}

.custom-btn {
    background-image: url(img/circles.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    padding: 160px 180px;
}